<%= form_tag({:action => :update}, {:method => :put}) do %>
  
  <div class="field">
    <%= label_tag :start_time, "Start time: " %><br />
    <%= datetime_select :entry, :start_time %>
  </div>
  <div class="actions">
    <%= submit_tag "Resolve Drug" %>
  </div>
<% end %>
