<div class="sidenav">
<ul class="sidenav">
  <li><%= link_to 'Home', '/home' %></li>
  <li><%= link_to 'View Schedule', '/view_schedule' %></li>
  <li><%= link_to 'Manage Entries', '/manage_entries' %></li>
  <li><%= link_to 'Checklist' , '/checklist' %></li>
</ul>
</div>
