<div class="sidenav">
<ul class="sidenav">
  <li><%= link_to 'Home', '/home' %></li>
  <li><%= link_to 'Manage Calendar', '/manage_entries' %></li>
  <li><%= link_to 'Checklist' , '/' %></li>
</ul>
</div>
