/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

ul.topnav {
  list-style: none;
  text-align: right;	
  margin: 0 0 1em;
  background-color: black;
  padding: 0.5em;
}

ul.topnav li {
  display: inline;
  color: white;
  padding: 0.2em;
}

a.top_link:link {
  text-decoration: none;
  color: #909090;
}

a.top_link:visited {
  text-decoration: none;
  color: #909090;
}

a.top_link:hover {
  color: white;
}

div.sidenav{
  width: 150px;
  height: 100%;
  text-align: right;
  float: left;
}

ul.sidenav {
  padding: 0.5em;
  height: 100%;
  background-color: white;
}

ul.sidenav a {
  text-decoration: none;
}

ul.sidenav a:visited {
}

ul.sidenav a:hover {
  background-color: white;
  color: black;
}

div.page_content {
  float: left;
  padding: 0.5em;
  margin-left: 2em;
}

h1.section_title {
  font-size: 14pt;
  font-weight: bold;
}
