<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Events List</h1>

<% @events.each do |event| %>
  <div>
    <h3><%= event.name %></h3>
    <%= button_to 'edit', edit_event_path(event.id), {:method => :get} %>
  </div>
<% end %>
